.saas_tool_window_bg{
    background-image:url(../app/theme/common/window/indexbg.png);
}

.tool_title_bg{
    height:26px;
    position:relative;
    background-image:url(../app/theme/common/window/title_bg.png);
}

.tool_title_flag{
    height:7px;
    width:4px;
    margin-left:4px;
    margin-top:9px;
    margin-right:5px;
    margin-bottom:10px;
    float:left;
    background-repeat: no-repeat;
    background-image:url(../app/theme/common/window/title_flag.png);
}

.tool_title_text{
    height:12px;
    position:absolute;
    left:15px;
    top:6px;
    font-weight: bold;
    font-family: "ו";
    font-size: 12px;
    color:#2981D6;
}

.saas_sort_border{
    width:100px;
    height:72px;
    margin:3px 3px 3px 3px;
    float:left;
    overflow:hidden;
    background-repeat: no-repeat;
    position:relative;
    background-image:url(../app/theme/common/sort/sortborder.png);
    
}

.saas_sort_border{
    width:100px;
    height:72px;
    margin:3px 3px 3px 3px;
    float:left;
    overflow:hidden;
    background-repeat: no-repeat;
    position:relative;
    background-image:url(../app/theme/common/sort/sortborder.png);
}

.saas_sort_border_hover{
    width:100px;
    height:72px;
    margin:3px 3px 3px 3px;
    float:left;
    overflow:hidden;
    background-repeat: no-repeat;
    position:relative;
    background-image:url(../app/theme/common/sort/sortborder_h.png);
}

.saas_sortflag{
    width:17px;
    height:16px;
    top:52px;
    left:75px;
    position:absolute;
    background-image:url(../app/theme/common/sort/sortFlag.png);
}

.saas_theme_type{
    height:33px;
    overflow: hidden;
    background-image:url(../app/theme/common/window/theme_type_bg.png);
}

.saas_theme_div{
    height:220px;
}

.saas_theme_type_flag{
    width:19px;
    height:17px;
    position:absolute;
    top:12px;
    left:80px;
    background-image:url(../app/theme/common/window/theme_type_flag.png);
}

.saas_theme_border{
    width:100px;
    height:90px;
    background-image:url(../app/theme/common/window/themeborder.png);
}

.saas_theme_border_hover{
    width:100px;
    height:90px;
    background-image:url(../app/theme/common/window/themeborder_h.png);
}

.saas_themeFlageIcon{
    width:13px;
    height:11px;
    background-repeat: no-repeat;
    background-image:url(../app/theme/common/window/themeimageflag.png);
}